.body {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.headers {
    display: flex;
    justify-content: space-between;
    padding:1px;
}

.addBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#addBtn {
    border: 1px solid;
    border-radius: 6px;
    width: 42%;
    padding-left: 8px;
    padding-top: 2px;
    font-size: 15px;
}

.search {
    display: flex;
    justify-content: flex-end;
}

.inputBox {
    width: 50%;
}

.mainBody {
    margin-top: 1rem;
}

.card {
    margin-bottom: 1rem;
    margin-left: 5px;
    margin-right: 5px;
}

    .card > .card-header {
        background-color: #0eabe0;
        color: white;
    }

    .card > .card-img-top {
        width: 50%;
        margin: 4px;
    }

.footerClass {
    display: flex;
    justify-content: space-between;
}

    .footerClass > .ViewClass {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
        text-decoration: none;
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: .2rem
    }

        .footerClass > .ViewClass:hover {
            color: #fff;
            background-color: #0b5ed7;
            border-color: #0a58ca
        }

        .footerClass > .ViewClass:focus {
            color: #fff;
            background-color: #0b5ed7;
            border-color: #0a58ca;
            box-shadow: 0 0 0 .25rem rgba(49,132,253,.5)
        }


        .card-body {
            width: 49%;
        }

@media screen and (min-width:300px) {
    #addBtn {
        width: 36%;
        padding-left: 8px;
        font-size: 16px;
    }
}
