.body {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

    .body .headersTitle .headers {
        border: 2px solid red;
        display: flex;
        justify-content: space-between;
    }

        .body .headersTitle .headers #addBtn {
            border: 2px solid black;
        }

    .body > .headersTitle #employeeHeader {
        font-size: 16px;
    }

    .body > .headersTitle > .headers > .search>.inputBox {
        width: 50%
    }
