#employeeHeader {
    font-size: 13px;
}

.body {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.headers {
    display: flex;
    justify-content: space-between;
    padding: 1px;
}

.addBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#addBtn {
    font-size: 10px;
    display: flex;
    flex: none;
    justify-content: center;
    flex-direction: column;
}

.search {
    display: flex;
    justify-content: flex-end;
}

    .search > strong {
        font-weight: 100;
        font-size: 12px;
        margin-top: 5px;
    }

.inputBox {
    width: 50%;
}

.mainBody {
    margin-top: 1rem;
}

.card {
    margin-bottom: 1rem;
    margin-left: 5px;
    margin-right: 5px;
}

    .card > .card-header {
        font-size: 10px;
        background-color: #0eabe0;
        color: white;
        display: flex;
        justify-content: space-between;
    }

        .card > .card-header > span > .fa {
            font-size: 13px;
        }

        .card > .card-img-top {
            width: 50%;
            margin: 4px;
        }

.footerClass {
    display: flex;
}

    .footerClass > .card-link {
        font-size: 11px;
        padding: 4px 13px 4px 14px;
        margin-left: 7px;
        margin-top: 8px;
        margin-bottom: 11px;
    }

.card-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

    .card-body > .card-img-top 
    {
        width:43%;
    }

    .card-body > .employeeDetails {
        font-size: 11px;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: justify;
        flex-direction: column;
        margin-left: 15px;
        line-height: 26px;
    }

@media screen and (min-width:316px) {
    #addBtn {
        font-size: 11px;
    }

    .card > .card-header { 
        font-size: 11px;
    }

    .card-body > .employeeDetails {
        font-size: 11px;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        line-height: 26px;
    }
}

@media screen and (min-width:400px) 
{
    #employeeHeader {
        font-size: 14px;
    }

    .headers {
        padding: 2px;
    }

    #addBtn {
        font-size: 12px;
    }

    .search > strong {
        font-size: 13px;
    }

    .inputBox {
        width: 48%;
    }

    .card > .card-header {
        font-size: 12px;
    }
    .card-body > .employeeDetails {
        display: flex;
        text-align: center;
    }

    .footerClass > .card-link {
        font-size: 12px;
        padding: 5px 14px 4px 14px;
    }

    .card > .card-header > span > .fa {
        font-size: 14px;
    }
}

@media screen and (min-width:450px) {

    #employeeHeader {
        font-size: 15px;
    }

    #addBtn {
        font-size: 13px;
    }

    .search > strong {
        font-size: 14px;
    }

    .card > .card-header {
        font-size: 13px;
    }

    .card-body {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

        .card-body > .card-img-top {
            margin-left: 10px;
            margin-top: 4px;
            width: 34%;
            height: 100px;
        }


        .card-body > .employeeDetails[b-s57tlxvs7c] {
            font-size: 12px;
            text-align: left;
            margin-left: 7rem;
        }

    .footerClass > .card-link {
        font-size: 12px;
        padding: 6px 14px 4px 14px;
        width: 25%;
    }

    .card > .card-header > span > .fa[b-s57tlxvs7c] {
        font-size: 14px;
    }

    @media screeen and (min-width:480px) {
        #employeeHeader {
            font-size: 16px;
        }

        #addBtn {
            font-size: 14px;
        }

        .search > strong {
            font-size: 15px;
        }

        .inputBox {
            width: 49%;
        }

        .card > .card-header {
            font-size: 14px;
        }

            .card > .card-header > span > .fa {
                font-size: 15px;
            }

        .card-body > .card-img-top {
            margin-left: 10px;
            margin-top: 5px;
            width: 29%;
            height: 115px;
        }

        .card-body > .employeeDetails {
            font-size: 13px;
            text-align: left;
            margin-left: 7rem;
        }

        .footerClass > .card-link {
            font-size: 13px;
            padding: 7px 15px 5px 15px;
            width: 27%;
        }
    }

    @media screen and (min-width:520px) {

        #employeeHeader {
            font-size: 16px;
        }

        #addBtn {
            font-size: 14px;
        }

        .search > strong {
            font-size: 15px;
        }

        .inputBox {
            width: 50%;
        }

        .card > .card-header {
            font-size: 14px;
        }

            .card > .card-header > span > .fa[b-s57tlxvs7c] {
                font-size: 15px;
            }

        .card-body > .card-img-top {
            margin-left: 10px;
            margin-top: 4px;
            height: 116px;
        }

        .card-body > .employeeDetails[b-s57tlxvs7c][b-s57tlxvs7c] {
            font-size: 14px;
            text-align: left;
            margin-left: 8rem;
        }

        .footerClass > .card-link[b-s57tlxvs7c] {
            font-size: 13px;
            padding: 6px 12px 5px 12px;
            width: 27%;
        }
    }

    @media screen and (min-width:570px) {

        .card-body > .employeeDetails[b-s57tlxvs7c][b-s57tlxvs7c][b-s57tlxvs7c] {
            font-size: 14px;
            margin-left: 11rem;
        }
    }

    @media screen and (min-width:620px) {

        #employeeHeader[b-s57tlxvs7c] {
            font-size: 17px;
        }

        #addBtn[b-s57tlxvs7c] {
            font-size: 15px;
        }

        .search > strong[b-s57tlxvs7c] {
            font-size: 16px;
        }

        .card > .card-header[b-s57tlxvs7c] {
            font-size: 14px;
        }

        .card > .card-header > span > .fa[b-s57tlxvs7c][b-s57tlxvs7c] {
            font-size: 16px;
        }

        .card-body > .employeeDetails[b-s57tlxvs7c][b-s57tlxvs7c][b-s57tlxvs7c][b-s57tlxvs7c] {
            font-size: 15px;
            margin-left: 12rem;
        }

        .footerClass > .card-link[b-s57tlxvs7c][b-s57tlxvs7c] {
            font-size: 13px;
            padding: 6px 12px 5px 12px;
            width: 28%;
        }

    }
}
