
.formBox {
    border: 1px solid #aea4a4;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    top: 20vh;
}

@media screen and (min-width:1200px) {
    .formBox {
        border: 1px solid #aea4a4;
        width: 50%;
        position: relative;
        left: 50vh;
        top: 20vh;
    }
}