@page "/user/add";
@page "/user/edit/{userId:int}";
@using Employee_Manager_Client.Services
@using Newtonsoft.Json;
@inject ApiService apiService;

@inject HttpClient http;
@inject NavigationManager navigationManager;

<h3>Add New Employee</h3>

<hr/>

@code {

}
