@using Employee_Manager_API.Pagination
@using Employee_Manager_Models
<h3>Products</h3>

@code {

    
        public List<Employee> ProductList { get; set; } = new List<Employee>();
        public MetaData MetaData { get; set; } = new MetaData();
        private ProductParameters _productParameters = new ProductParameters();
        [Inject]
        public IProductHttpRepository ProductRepo { get; set; }
        protected async override Task OnInitializedAsync()
        {
            var pagingResponse = await ProductRepo.GetProducts(_productParameters);
            ProductList = pagingResponse.Items;
            MetaData = pagingResponse.MetaData;
        }
    
}
