.loaderBox[b-382pvosb43] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-facebook[b-382pvosb43] {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-facebook div[b-382pvosb43] {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: #6200EE;
        animation: lds-facebook-b-382pvosb43 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

        .lds-facebook div:nth-child(1)[b-382pvosb43] {
            left: 8px;
            animation-delay: -0.24s;
        }

        .lds-facebook div:nth-child(2)[b-382pvosb43] {
            left: 32px;
            animation-delay: -0.12s;
        }

        .lds-facebook div:nth-child(3)[b-382pvosb43] {
            left: 56px;
            animation-delay: 0;
        }

@keyframes lds-facebook-b-382pvosb43 {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

#employeeHeader[b-382pvosb43] {
    font-size: 13px;
}

.body[b-382pvosb43] {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.headers[b-382pvosb43] {
    display: flex;
    justify-content: space-between;
    padding: 1px;
}

.addBox[b-382pvosb43] {
    display: flex;  
    justify-content: space-between;
    width: 100%;
}

#viewBtn:hover[b-382pvosb43] {
    background-image: linear-gradient(#0d6efd, #0dcaf0);
    color: white;
}

#deleteBtn:hover[b-382pvosb43] {
    background-image: linear-gradient(45deg, #ff1a1a, red);
}

#addBtn:hover[b-382pvosb43] {
    background-image: linear-gradient(45deg, black, transparent);
}

#addBtn[b-382pvosb43] {
    font-size: 10px;
    display: flex;
    flex: none;
    justify-content: center;
    flex-direction: column;
}

.search[b-382pvosb43] {
    display: flex;
    justify-content: flex-end;
}

    .search > strong[b-382pvosb43] {
        font-weight: 100;
        font-size: 12px;
        margin-top: 5px;
    }

.inputBox[b-382pvosb43] {
    width: 50%;
}

.mainBody[b-382pvosb43] {
    margin-top: 1rem;
}

.card[b-382pvosb43] {
    margin-bottom: 1rem;
    margin-left: 5px;
    margin-right: 5px;
}

    .card > .card-header[b-382pvosb43] {
        font-size: 10px;
        background-color: #0eabe0;
        color: white;
        display: flex;
        justify-content: space-between;
    }

        #editIcon[b-382pvosb43] {
            font-size: 17px;
        }

            #editIcon:hover[b-382pvosb43] {
                transform: scale(1.5);
                color: #2700ff;
            }

        .card > .card-img-top[b-382pvosb43] {
            width: 50%;
            margin: 4px;
        }

.footerClass[b-382pvosb43] {
    display: flex;
}

    .footerClass > .card-link[b-382pvosb43] {
        font-size: 11px;
        padding: 4px 13px 4px 14px;
        margin-left: 7px;
        margin-top: 8px;
        margin-bottom: 11px;
    }

.card-body[b-382pvosb43] {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

    .card-body > .card-img-top[b-382pvosb43] 
    {
        width:43%;
    }

    .card-body > .employeeDetails[b-382pvosb43] {
        font-size: 11px;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: justify;
        flex-direction: column;
        margin-left: 15px;
        line-height: 26px;
    }

.pagination > .itemPerPage[b-382pvosb43] {
    font-size: 11px;
    white-space: nowrap;
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.pagination > .btn[b-382pvosb43] {
    padding: 1px;
    font-size: 10px;
    height: 30px;
}

.pagination > .btn-light[b-382pvosb43] {
    margin-right: 4px;
    font-size: 8px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 4px;
    margin-left: 2px;
}

@media screen and (min-width:316px) {
    #addBtn[b-382pvosb43] {
        font-size: 11px;
    }

    .card > .card-header[b-382pvosb43] { 
        font-size: 11px;
    }

    .card-body > .employeeDetails[b-382pvosb43] {
        font-size: 11px;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        line-height: 26px;
    }
}

@media screen and (min-width:400px) 
{
    #employeeHeader[b-382pvosb43] {
        font-size: 14px;
    }

    .headers[b-382pvosb43] {
        padding: 2px;
    }

    #addBtn[b-382pvosb43] {
        font-size: 12px;
    }

    .search > strong[b-382pvosb43] {
        font-size: 13px;
    }

    .inputBox[b-382pvosb43] {
        width: 48%;
    }

    .card > .card-header[b-382pvosb43] {
        font-size: 12px;
    }
    .card-body > .employeeDetails[b-382pvosb43] {
        display: flex;
        text-align: center;
    }

    .footerClass > .card-link[b-382pvosb43] {
        font-size: 12px;
        padding: 5px 14px 4px 14px;
    }

    .card > .card-header > span > .fa[b-382pvosb43] {
        font-size: 14px;
    }
}

@media screen and (min-width:450px) {

    #employeeHeader[b-382pvosb43] {
        font-size: 15px;
    }

    #addBtn[b-382pvosb43] {
        font-size: 13px;
    }

    .search > strong[b-382pvosb43] {
        font-size: 14px;
    }

    .card > .card-header[b-382pvosb43] {
        font-size: 13px;
    }

    .card-body[b-382pvosb43] {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

        .card-body > .card-img-top[b-382pvosb43] {
            margin-left: 10px;
            margin-top: 4px;
            width: 34%;
            height: 100px;
        }


        .card-body > .employeeDetails[b-382pvosb43] {
            font-size: 12px;
            text-align: left;
            margin-left: 7rem;
        }

    .footerClass > .card-link[b-382pvosb43] {
        font-size: 12px;
        padding: 6px 14px 4px 14px;
        width: 25%;
    }

    .card > .card-header > span > .fa[b-382pvosb43]{
        font-size: 14px;
    }

    @media screeen and (min-width:480px) {
        #employeeHeader[b-382pvosb43] {
            font-size: 16px;
        }

        #addBtn[b-382pvosb43] {
            font-size: 14px;
        }

        .search > strong[b-382pvosb43] {
            font-size: 15px;
        }

        .inputBox[b-382pvosb43] {
            width: 49%;
        }

        .card > .card-header[b-382pvosb43] {
            font-size: 14px;
        }

            .card > .card-header > span > .fa[b-382pvosb43] {
                font-size: 15px;
            }

        .card-body > .card-img-top[b-382pvosb43] {
            margin-left: 10px;
            margin-top: 5px;
            width: 29%;
            height: 115px;
        }

        .card-body > .employeeDetails[b-382pvosb43] {
            font-size: 13px;
            text-align: left;
            margin-left: 7rem;
        }

        .footerClass > .card-link[b-382pvosb43] {
            font-size: 13px;
            padding: 7px 15px 5px 15px;
            width: 27%;
        }
    }

    @media screen and (min-width:520px) {

        #employeeHeader[b-382pvosb43] {
            font-size: 16px;
        }

        #addBtn[b-382pvosb43] {
            font-size: 14px;
        }

        .search > strong[b-382pvosb43] {
            font-size: 15px;
        }

        .inputBox[b-382pvosb43] {
            width: 50%;
        }

        .card > .card-header[b-382pvosb43] {
            font-size: 14px;
        }

            .card > .card-header > span > .fa[b-382pvosb43] {
                font-size: 15px;
            }

        .card-body > .card-img-top[b-382pvosb43] {
            margin-left: 10px;
            margin-top: 4px;
            height: 116px;
        }

        .card-body > .employeeDetails[b-382pvosb43]{
            font-size: 14px;
            text-align: left;
            margin-left: 8rem;
        }

        .footerClass > .card-link[b-382pvosb43] {
            font-size: 13px;
            padding: 6px 12px 5px 12px;
            width: 27%;
        }
    }

    @media screen and (min-width:570px) {

        .card-body > .employeeDetails[b-382pvosb43] {
            font-size: 14px;
            margin-left: 11rem;
        }
    }

    @media screen and (min-width:620px) {

        #employeeHeader[b-382pvosb43]{
            font-size: 17px;
        }

        #addBtn[b-382pvosb43] {
            font-size: 15px;
        }

        .search > strong[b-382pvosb43]{
            font-size: 16px;
        }

        .card > .card-header[b-382pvosb43] {
            font-size: 14px;
        }

        .card > .card-header > span > .fa[b-382pvosb43] {
            font-size: 16px;
        }

        .card-body > .employeeDetails[b-382pvosb43] {
            font-size: 15px;
            margin-left: 12rem;
        }

        .footerClass > .card-link[b-382pvosb43] {
            font-size: 13px;
            padding: 6px 12px 5px 12px;
            width: 28%;
        }
    }

    @media screen and (min-width:641px) {
        #employeeHeader[b-382pvosb43] {
            font-size: 18px;
        }

        #addBtn[b-382pvosb43] {
            font-size: 16px;
        }

        .search > strong[b-382pvosb43] {
            font-size: 17px;
        }

        .card > .card-header[b-382pvosb43] {
            font-size: 15px;
        }

        .card > .card-header > span > .fa[b-382pvosb43]{
            font-size: 17px;
        }

        .card-body > .employeeDetails[b-382pvosb43] {
            font-size: 16px;
            margin-left: 3.3rem;
        }

        .footerClass > .card-link[b-382pvosb43] {
            font-size: 14px;
            width: 34%;
        }
    }

    @media screen and (min-width:720px) {
        #employeeHeader[b-382pvosb43] {
            font-size: 19px;
        }

        #addBtn[b-382pvosb43] {
            font-size: 17px;
        }

        .search > strong[b-382pvosb43] {
            font-size: 18px;
        }

        .inputBox[b-382pvosb43] {
            width: 61%;
        }

        .card > .card-header[b-382pvosb43] {
            font-size: 16px;
        }

        .card-body > .employeeDetails[b-382pvosb43] {
            margin-left: 4.3rem;
        }

        .footerClass > .card-link[b-382pvosb43] {
            font-size: 15px;
            width: 35%;
        }
    }

    @media screen and (min-width:830px) {

        .mainBody[b-382pvosb43] {
            margin-top: 1rem;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        .card-body > .card-img-top[b-382pvosb43] {
            margin-left: 10px;
            margin-top: 4px;
            height: 100px;
        }

        .card[b-382pvosb43] {
            width: 48%;
            margin-bottom: 1rem;
            margin-left: 5px;
            margin-right: 5px;
        }

        .addBox[b-382pvosb43] {
            margin: 2px;
        }

        .card-body > .employeeDetails[b-382pvosb43] {
            margin-left: 1.3rem;
        }

        .footerClass > .card-link[b-382pvosb43] {
            width: 37%;
        }
    }

    @media screen and (min-width:1000px) {

        .card-body > .employeeDetails[b-382pvosb43] {
            margin-left: 3rem;
        }
    }

    @media screen and (min-width:1200px) {

        .card[b-382pvosb43] {
            width: 32%;
        }
    }

    @media screen and (min-width:1300px) {

        #employeeHeader[b-382pvosb43] {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 22px;
            letter-spacing:4px;
        }

        #addBtn[b-382pvosb43] {
            font-size: 15px;
            width:9%;
            letter-spacing:3px;
        }

        .inputBox[b-382pvosb43] {
            width: 85%;
        }

        .search > strong[b-382pvosb43] {
            font-size: 16px;
        }

        .card[b-382pvosb43] {
            width: 23%;
        }

        .card-body > .employeeDetails[b-382pvosb43] {
            margin-left: 3rem;
            font-size: 12px;
        }

        .card > .card-header[b-382pvosb43] {
            font-size: 14px;
        }

        .footerClass > .card-link[b-382pvosb43] {
            width: 32%;
            font-size: 13px;
        }
    }
}
