.body[b-s57tlxvs7c] {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.headers[b-s57tlxvs7c] {
    display: flex;
    justify-content: space-between;
    padding:1px;
}

.addBox[b-s57tlxvs7c] {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#addBtn[b-s57tlxvs7c] {
    border: 1px solid;
    border-radius: 6px;
    width: 42%;
    padding-left: 8px;
    padding-top: 2px;
    font-size: 15px;
}

.search[b-s57tlxvs7c] {
    display: flex;
    justify-content: flex-end;
}

.inputBox[b-s57tlxvs7c] {
    width: 50%;
}

.mainBody[b-s57tlxvs7c] {
    margin-top: 1rem;
}

.card[b-s57tlxvs7c] {
    margin-bottom: 1rem;
    margin-left: 5px;
    margin-right: 5px;
}

    .card > .card-header[b-s57tlxvs7c] {
        background-color: #0eabe0;
        color: white;
    }

    .card > .card-img-top[b-s57tlxvs7c] {
        width: 50%;
        margin: 4px;
    }

.footerClass[b-s57tlxvs7c] {
    display: flex;
    justify-content: space-between;
}

    .footerClass > a[b-s57tlxvs7c] {
        border: 2px solid red;
    }

    .card-body[b-s57tlxvs7c] {
        width: 49%;
    }

@media screen and (min-width:300px) {
    #addBtn[b-s57tlxvs7c] {
        width: 36%;
        padding-left: 8px;
        font-size: 16px;
    }
}
