.body[b-s57tlxvs7c] {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

    .body .headersTitle .headers[b-s57tlxvs7c] {
        border: 2px solid red;
        display: flex;
        justify-content: space-between;
    }

        .body .headersTitle .headers #addBtn[b-s57tlxvs7c] {
            border: 2px solid black;
        }

    .body > .headersTitle #employeeHeader[b-s57tlxvs7c] {
        font-size: 16px;
    }

    .body > .headersTitle > .headers > .search>.inputBox[b-s57tlxvs7c] {
        width: 50%
    }
