@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';

/* _content/Employee_Manager_Client/Pages/Access_Pages/Login.razor.rz.scp.css */

.formBox[b-97qkx0rs85] {
    border: 1px solid #aea4a4;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    top: 20vh;
}

.alert[b-97qkx0rs85] {
    font-size: 12px;
}

.registerTag[b-97qkx0rs85] {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.form-inputBoxes > h1[b-97qkx0rs85] {
    font-size: 15px;
    text-align: center;
    padding: 2px;
    background-color: #3F51B5;
    color: white;
    border: 2px solid #3F51B5;
    border-radius:5px;
}

@media screen and (min-width:900px) {

    .formBox[b-97qkx0rs85] {
        border: 1px solid #aea4a4;
        width: 50%;
        position: relative;
        left: 50vh;
        top: 20vh;
    }

    .form-inputBoxes > h1[b-97qkx0rs85] {
        font-size: 18px;
        padding: 6px;
    }

    .alert[b-97qkx0rs85] {
        font-size: 15px;
    }

    .registerTag[b-97qkx0rs85] {
        font-size: 16px;
    }

    .loginBtn[b-97qkx0rs85]{
        font-size:16px;
    }
}
/* _content/Employee_Manager_Client/Pages/Access_Pages/RegisterPage.razor.rz.scp.css */

.formBox[b-07iec89wp7] {
    border: 1px solid #aea4a4;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    top: 20vh;
}

.alert[b-07iec89wp7] {
    font-size: 12px;
}

.registerTag[b-07iec89wp7] {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.form-inputBoxes > h1[b-07iec89wp7] {
    font-size: 15px;
    text-align: center;
    padding: 2px;
    background-color: #3F51B5;
    color: white;
    border: 2px solid #3F51B5;
    border-radius: 5px;
}

@media screen and (min-width:900px) {

    .formBox[b-07iec89wp7] {
        border: 1px solid #aea4a4;
        width: 50%;
        position: relative;
        left: 50vh;
        top: 20vh;
    }

    .form-inputBoxes > h1[b-07iec89wp7] {
        font-size: 18px;
        padding: 6px;
    }

    .alert[b-07iec89wp7] {
        font-size: 15px;
    }

    .registerTag[b-07iec89wp7] {
        font-size: 16px;
    }

    .registerBtn[b-07iec89wp7] {
        font-size: 16px;
    }
}
/* _content/Employee_Manager_Client/Pages/Employee_Components/AddEmployee.razor.rz.scp.css */
.loaderBox[b-w9nfvgi7z3] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-facebook[b-w9nfvgi7z3] {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-facebook div[b-w9nfvgi7z3] {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: #6200EE;
        animation: lds-facebook-b-w9nfvgi7z3 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

        .lds-facebook div:nth-child(1)[b-w9nfvgi7z3] {
            left: 8px;
            animation-delay: -0.24s;
        }

        .lds-facebook div:nth-child(2)[b-w9nfvgi7z3] {
            left: 32px;
            animation-delay: -0.12s;
        }

        .lds-facebook div:nth-child(3)[b-w9nfvgi7z3] {
            left: 56px;
            animation-delay: 0;
        }

@keyframes lds-facebook-b-w9nfvgi7z3 {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}


@media screen and (min-width:1100px) {
    .mb-3[b-w9nfvgi7z3] {
        width: 49%;
        display: inline-block;
    }

    #btnClass[b-w9nfvgi7z3] {
        display: block;
    }


        #btnClass .btn[b-w9nfvgi7z3] {
            width: 120px;
            margin-right: 10px;
        }
}
/* _content/Employee_Manager_Client/Pages/Employee_Components/EditEmployee.razor.rz.scp.css */
.loaderBox[b-mekmyth77b] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-facebook[b-mekmyth77b] {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-facebook div[b-mekmyth77b] {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: #6200EE;
        animation: lds-facebook-b-mekmyth77b 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

        .lds-facebook div:nth-child(1)[b-mekmyth77b] {
            left: 8px;
            animation-delay: -0.24s;
        }

        .lds-facebook div:nth-child(2)[b-mekmyth77b] {
            left: 32px;
            animation-delay: -0.12s;
        }

        .lds-facebook div:nth-child(3)[b-mekmyth77b] {
            left: 56px;
            animation-delay: 0;
        }

@keyframes lds-facebook-b-mekmyth77b {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}


@media screen and (min-width:1100px) {
    .mb-3[b-mekmyth77b] {
        width: 49%;
        display: inline-block;
    }

    #btnClass[b-mekmyth77b] {
        display: block;
    }


        #btnClass .btn[b-mekmyth77b] {
            width: 120px;
            margin-right: 10px;
        }
}

/* _content/Employee_Manager_Client/Pages/Employee_Components/EmployeeHomepage.razor.rz.scp.css */
.loaderBox[b-382pvosb43] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-facebook[b-382pvosb43] {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-facebook div[b-382pvosb43] {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: #6200EE;
        animation: lds-facebook-b-382pvosb43 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

        .lds-facebook div:nth-child(1)[b-382pvosb43] {
            left: 8px;
            animation-delay: -0.24s;
        }

        .lds-facebook div:nth-child(2)[b-382pvosb43] {
            left: 32px;
            animation-delay: -0.12s;
        }

        .lds-facebook div:nth-child(3)[b-382pvosb43] {
            left: 56px;
            animation-delay: 0;
        }

@keyframes lds-facebook-b-382pvosb43 {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

#employeeHeader[b-382pvosb43] {
    font-size: 13px;
}

.body[b-382pvosb43] {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.headers[b-382pvosb43] {
    display: flex;
    justify-content: space-between;
    padding: 1px;
}

.addBox[b-382pvosb43] {
    display: flex;  
    justify-content: space-between;
    width: 100%;
}

#viewBtn:hover[b-382pvosb43] {
    background-image: linear-gradient(#0d6efd, #0dcaf0);
    color: white;
}

#deleteBtn:hover[b-382pvosb43] {
    background-image: linear-gradient(45deg, #ff1a1a, red);
}

#addBtn:hover[b-382pvosb43] {
    background-image: linear-gradient(45deg, black, transparent);
}

#addBtn[b-382pvosb43] {
    font-size: 10px;
    display: flex;
    flex: none;
    justify-content: center;
    flex-direction: column;
}

.search[b-382pvosb43] {
    display: flex;
    justify-content: flex-end;
}

    .search > strong[b-382pvosb43] {
        font-weight: 100;
        font-size: 12px;
        margin-top: 5px;
    }

.inputBox[b-382pvosb43] {
    width: 50%;
}

.mainBody[b-382pvosb43] {
    margin-top: 1rem;
}

.card[b-382pvosb43] {
    margin-bottom: 1rem;
    margin-left: 5px;
    margin-right: 5px;
}

    .card > .card-header[b-382pvosb43] {
        font-size: 10px;
        background-color: #0eabe0;
        color: white;
        display: flex;
        justify-content: space-between;
    }

        #editIcon[b-382pvosb43] {
            font-size: 17px;
        }

            #editIcon:hover[b-382pvosb43] {
                transform: scale(1.5);
                color: #2700ff;
            }

        .card > .card-img-top[b-382pvosb43] {
            width: 50%;
            margin: 4px;
        }

.footerClass[b-382pvosb43] {
    display: flex;
}

    .footerClass > .card-link[b-382pvosb43] {
        font-size: 11px;
        padding: 4px 13px 4px 14px;
        margin-left: 7px;
        margin-top: 8px;
        margin-bottom: 11px;
    }

.card-body[b-382pvosb43] {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

    .card-body > .card-img-top[b-382pvosb43] 
    {
        width:43%;
    }

    .card-body > .employeeDetails[b-382pvosb43] {
        font-size: 11px;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: justify;
        flex-direction: column;
        margin-left: 15px;
        line-height: 26px;
    }

.pagination[b-382pvosb43]{
    border:1px solid blue;
}

@media screen and (min-width:316px) {
    #addBtn[b-382pvosb43] {
        font-size: 11px;
    }

    .card > .card-header[b-382pvosb43] { 
        font-size: 11px;
    }

    .card-body > .employeeDetails[b-382pvosb43] {
        font-size: 11px;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        line-height: 26px;
    }
}

@media screen and (min-width:400px) 
{
    #employeeHeader[b-382pvosb43] {
        font-size: 14px;
    }

    .headers[b-382pvosb43] {
        padding: 2px;
    }

    #addBtn[b-382pvosb43] {
        font-size: 12px;
    }

    .search > strong[b-382pvosb43] {
        font-size: 13px;
    }

    .inputBox[b-382pvosb43] {
        width: 48%;
    }

    .card > .card-header[b-382pvosb43] {
        font-size: 12px;
    }
    .card-body > .employeeDetails[b-382pvosb43] {
        display: flex;
        text-align: center;
    }

    .footerClass > .card-link[b-382pvosb43] {
        font-size: 12px;
        padding: 5px 14px 4px 14px;
    }

    .card > .card-header > span > .fa[b-382pvosb43] {
        font-size: 14px;
    }
}

@media screen and (min-width:450px) {

    #employeeHeader[b-382pvosb43] {
        font-size: 15px;
    }

    #addBtn[b-382pvosb43] {
        font-size: 13px;
    }

    .search > strong[b-382pvosb43] {
        font-size: 14px;
    }

    .card > .card-header[b-382pvosb43] {
        font-size: 13px;
    }

    .card-body[b-382pvosb43] {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

        .card-body > .card-img-top[b-382pvosb43] {
            margin-left: 10px;
            margin-top: 4px;
            width: 34%;
            height: 100px;
        }


        .card-body > .employeeDetails[b-382pvosb43] {
            font-size: 12px;
            text-align: left;
            margin-left: 7rem;
        }

    .footerClass > .card-link[b-382pvosb43] {
        font-size: 12px;
        padding: 6px 14px 4px 14px;
        width: 25%;
    }

    .card > .card-header > span > .fa[b-382pvosb43]{
        font-size: 14px;
    }

    @media screeen and (min-width:480px) {
        #employeeHeader[b-382pvosb43] {
            font-size: 16px;
        }

        #addBtn[b-382pvosb43] {
            font-size: 14px;
        }

        .search > strong[b-382pvosb43] {
            font-size: 15px;
        }

        .inputBox[b-382pvosb43] {
            width: 49%;
        }

        .card > .card-header[b-382pvosb43] {
            font-size: 14px;
        }

            .card > .card-header > span > .fa[b-382pvosb43] {
                font-size: 15px;
            }

        .card-body > .card-img-top[b-382pvosb43] {
            margin-left: 10px;
            margin-top: 5px;
            width: 29%;
            height: 115px;
        }

        .card-body > .employeeDetails[b-382pvosb43] {
            font-size: 13px;
            text-align: left;
            margin-left: 7rem;
        }

        .footerClass > .card-link[b-382pvosb43] {
            font-size: 13px;
            padding: 7px 15px 5px 15px;
            width: 27%;
        }
    }

    @media screen and (min-width:520px) {

        #employeeHeader[b-382pvosb43] {
            font-size: 16px;
        }

        #addBtn[b-382pvosb43] {
            font-size: 14px;
        }

        .search > strong[b-382pvosb43] {
            font-size: 15px;
        }

        .inputBox[b-382pvosb43] {
            width: 50%;
        }

        .card > .card-header[b-382pvosb43] {
            font-size: 14px;
        }

            .card > .card-header > span > .fa[b-382pvosb43] {
                font-size: 15px;
            }

        .card-body > .card-img-top[b-382pvosb43] {
            margin-left: 10px;
            margin-top: 4px;
            height: 116px;
        }

        .card-body > .employeeDetails[b-382pvosb43]{
            font-size: 14px;
            text-align: left;
            margin-left: 8rem;
        }

        .footerClass > .card-link[b-382pvosb43] {
            font-size: 13px;
            padding: 6px 12px 5px 12px;
            width: 27%;
        }
    }

    @media screen and (min-width:570px) {

        .card-body > .employeeDetails[b-382pvosb43] {
            font-size: 14px;
            margin-left: 11rem;
        }
    }

    @media screen and (min-width:620px) {

        #employeeHeader[b-382pvosb43]{
            font-size: 17px;
        }

        #addBtn[b-382pvosb43] {
            font-size: 15px;
        }

        .search > strong[b-382pvosb43]{
            font-size: 16px;
        }

        .card > .card-header[b-382pvosb43] {
            font-size: 14px;
        }

        .card > .card-header > span > .fa[b-382pvosb43] {
            font-size: 16px;
        }

        .card-body > .employeeDetails[b-382pvosb43] {
            font-size: 15px;
            margin-left: 12rem;
        }

        .footerClass > .card-link[b-382pvosb43] {
            font-size: 13px;
            padding: 6px 12px 5px 12px;
            width: 28%;
        }
    }

    @media screen and (min-width:641px) {
        #employeeHeader[b-382pvosb43] {
            font-size: 18px;
        }

        #addBtn[b-382pvosb43] {
            font-size: 16px;
        }

        .search > strong[b-382pvosb43] {
            font-size: 17px;
        }

        .card > .card-header[b-382pvosb43] {
            font-size: 15px;
        }

        .card > .card-header > span > .fa[b-382pvosb43]{
            font-size: 17px;
        }

        .card-body > .employeeDetails[b-382pvosb43] {
            font-size: 16px;
            margin-left: 3.3rem;
        }

        .footerClass > .card-link[b-382pvosb43] {
            font-size: 14px;
            width: 34%;
        }
    }

    @media screen and (min-width:720px) {
        #employeeHeader[b-382pvosb43] {
            font-size: 19px;
        }

        #addBtn[b-382pvosb43] {
            font-size: 17px;
        }

        .search > strong[b-382pvosb43] {
            font-size: 18px;
        }

        .inputBox[b-382pvosb43] {
            width: 61%;
        }

        .card > .card-header[b-382pvosb43] {
            font-size: 16px;
        }

        .card-body > .employeeDetails[b-382pvosb43] {
            margin-left: 4.3rem;
        }

        .footerClass > .card-link[b-382pvosb43] {
            font-size: 15px;
            width: 35%;
        }
    }

    @media screen and (min-width:830px) {

        .mainBody[b-382pvosb43] {
            margin-top: 1rem;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        .card-body > .card-img-top[b-382pvosb43] {
            margin-left: 10px;
            margin-top: 4px;
            height: 100px;
        }

        .card[b-382pvosb43] {
            width: 48%;
            margin-bottom: 1rem;
            margin-left: 5px;
            margin-right: 5px;
        }

        .addBox[b-382pvosb43] {
            margin: 2px;
        }

        .card-body > .employeeDetails[b-382pvosb43] {
            margin-left: 1.3rem;
        }

        .footerClass > .card-link[b-382pvosb43] {
            width: 37%;
        }
    }

    @media screen and (min-width:1000px) {

        .card-body > .employeeDetails[b-382pvosb43] {
            margin-left: 3rem;
        }
    }

    @media screen and (min-width:1200px) {

        .card[b-382pvosb43] {
            width: 32%;
        }
    }

    @media screen and (min-width:1300px) {

        #employeeHeader[b-382pvosb43] {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 22px;
            letter-spacing:4px;
        }

        #addBtn[b-382pvosb43] {
            font-size: 15px;
            width:9%;
            letter-spacing:3px;
        }

        .inputBox[b-382pvosb43] {
            width: 85%;
        }

        .search > strong[b-382pvosb43] {
            font-size: 16px;
        }

        .card[b-382pvosb43] {
            width: 23%;
        }

        .card-body > .employeeDetails[b-382pvosb43] {
            margin-left: 3rem;
            font-size: 12px;
        }

        .card > .card-header[b-382pvosb43] {
            font-size: 14px;
        }

        .footerClass > .card-link[b-382pvosb43] {
            width: 32%;
            font-size: 13px;
        }
    }
}
/* _content/Employee_Manager_Client/Pages/Employee_Components/ViewEmployee.razor.rz.scp.css */

@media screen and (min-width:1200px) {
    #form > div[b-u1fxbmjdmc] {
        width: 49%;
        display: inline-block;
    }

    #form > .mb-3 > .form-control[b-u1fxbmjdmc] {
        border: 2px solid red;
    }

    #footer-buttons[b-u1fxbmjdmc] {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
/* _content/Employee_Manager_Client/Pages/Pagination.razor.rz.scp.css */

.pagination[b-zv198w8f14] {
    margin-top: 0.5rem;
    border: 1px solid #7c7777;
    border-radius: 6px;
    width: fit-content;
    background-color: #e8e4e4;
    padding: 2px;
}

    .pagination > button[b-zv198w8f14] {
        width: 58px;
        height: 34px;
        font-size: 9px;
        background-color: black;
        color: white;
        text-decoration: none;
        margin: 3px;
        font-family: cursive;
    }

    .pagination > #select[b-zv198w8f14] {
        height: 33px;
        margin-top: 3px;
        margin-bottom: 4px;
    }


@media screen and (min-width:620px) {

    .pagination > button[b-zv198w8f14] {
        width: 58px;
        height: 34px;
        font-size: 9px;
        background-color: black;
        color: white;
        text-decoration: none;
        margin: 3px;
        font-family: cursive;
    }

    .pagination[b-zv198w8f14] {
        margin-top: 0.5rem;
        border: 1px solid #7c7777;
        width: fit-content;
        border-radius: 6px;
        background-color: #e8e4e4;
        padding: 3px;
    }
}

@media screen and (min-width:641px) {
    .pagination[b-zv198w8f14] {
        margin-top: 0.5rem;
        border: 1px solid #7c7777;
        width: fit-content;
        border-radius: 6px;
        background-color: #e8e4e4;
        padding: 0px;
    }

        .pagination > button[b-zv198w8f14] {
            width: 55px;
            height: 29px;
            font-size: 8px;
            background-color: black;
            color: white;
            text-decoration: none;
            margin: 5px;
            font-family: cursive;
        }
}

@media screen and (min-width:700px) {

    .pagination[b-zv198w8f14] {
        margin-top: 0.5rem;
        border: 1px solid #7c7777;
        width: fit-content;
        border-radius: 6px;
        background-color: #e8e4e4;
        padding: 1px;
    }

        .pagination > button[b-zv198w8f14] {
            width: 57px;
            height: 31px;
            font-size: 8px;
            background-color: black;
            color: white;
            text-decoration: none;
            margin: 5px;
            font-family: cursive;
        }

        .pagination > #select[b-zv198w8f14] {
            height: 33px;
            margin-top: 4px;
            margin-bottom: 4px;
        }
}

@media screen and (min-width:1100px) {
    .pagination[b-zv198w8f14] {
        padding: 4px
    }

        .pagination > button[b-zv198w8f14] {
            width: 68px;
            height: 34px;
            font-size: 12px;
            background-color: black;
            color: white;
            text-decoration: none;
            margin: 10px;
            font-family: cursive;
        }

        .pagination > #select[b-zv198w8f14] {
            height: 35px;
            margin-top: 9px;
            margin-bottom: 0px;
        }
}
/* _content/Employee_Manager_Client/Shared/MainLayout.razor.rz.scp.css */

.page[b-u8xq8yobvw] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-u8xq8yobvw] {
    flex: 1;
}

.sidebar[b-u8xq8yobvw] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-u8xq8yobvw] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-u8xq8yobvw]  a, .top-row .btn-link[b-u8xq8yobvw] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-u8xq8yobvw] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-u8xq8yobvw] {
        display: none;
    }

    .top-row.auth[b-u8xq8yobvw] {
        justify-content: space-between;
    }

    .top-row a[b-u8xq8yobvw], .top-row .btn-link[b-u8xq8yobvw] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-u8xq8yobvw] {
        flex-direction: row;
    }

    .sidebar[b-u8xq8yobvw] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-u8xq8yobvw] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-u8xq8yobvw], article[b-u8xq8yobvw] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Employee_Manager_Client/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-jyr21e67c2] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-jyr21e67c2] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-jyr21e67c2] {
    font-size: 1.1rem;
}

.oi[b-jyr21e67c2] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-jyr21e67c2] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-jyr21e67c2] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-jyr21e67c2] {
        padding-bottom: 1rem;
    }

    .nav-item[b-jyr21e67c2]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-jyr21e67c2]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-jyr21e67c2]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-jyr21e67c2] {
        display: none;
    }

    .collapse[b-jyr21e67c2] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

     .collapse:not(.show)[b-jyr21e67c2] {
        display: block;
     }
}
